<div class="row bar">
        <div class="col-xs-12">
        </div>
      </div>


	 <% include header %>


      <div class="row profil">
        <div class="col-xs-12 col-sm-4">
          <h3 class="title-section">Profil</h3>
        </div>
        <div class="col-xs-12 col-sm-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, ullam, repudiandae itaque est impedit porro sapiente debitis repellendus provident similique laudantium dolorem atque ratione necessitatibus illum maiores temporibus optio nulla!</p>
        </div>

      </div>


      <div class="row profil">
        <div class="col-xs-12 col-sm-4">
          <h3 class="title-section">Experiences</h3>
        </div>
        <div class="col-xs-12 col-sm-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, ullam, repudiandae itaque est impedit porro sapiente debitis repellendus provident similique laudantium dolorem atque ratione necessitatibus illum maiores temporibus optio nulla!</p>
        </div>

      </div>

      <div class="row profil">
        <div class="col-xs-12 col-sm-4">
          <h3 class="title-section">Compétences techniques</h3>
        </div>
        <div class="col-xs-12 col-sm-8">         

          <div ng-repeat="skill in skills">
          
            
              <h3 editable-text="skill.name" onbeforesave="checkName($data, skill.id)" class="title-item">{{ skill.name || 'Nom compétence' }}</h3>
              <hr>
              <p editable-textarea="skill.desc">{{ skill.desc || 'Description'}}</p>
            


          </div>
          


          <button class="btn btn-default" ng-click="addSkill()">Ajouter une compétence</button>
        </div>

      </div>


      <div class="row profil">
        <div class="col-xs-12 col-sm-4">
          <h3 class="title-section">Diplomes</h3>
        </div>
        <div class="col-xs-12 col-sm-8">
          <h3 class="title-item">BAC STI</h3>
          <span class="pull-right">2008 - 2009</span>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, ullam, repudiandae itaque est impedit porro sapiente debitis repellendus provident similique laudantium dolorem atque ratione necessitatibus illum maiores temporibus optio nulla!</p>
        </div>

      </div>

      <div class="row bar">
        <div class="col-xs-12">
        </div>
      </div>