<div class="row bar">
        <div class="col-xs-12">
        </div>
      </div>


	 <% include header %>


      <div class="row profil">
        <div class="col-xs-12 col-sm-4">
          <h3 class="title-section">Profil</h3>
        </div>
        <div class="col-xs-12 col-sm-8">
          <p editable-textarea="user.profil" e-rows="5" e-cols="60">{{ user.profil || 'Mon profil' }}</p>
        </div>

      </div>


      <div class="row profil">
        <div class="col-xs-12 col-sm-4">
          <h3 class="title-section">Experiences</h3>
        </div>
        <div class="col-xs-12 col-sm-8">
          <p editable-textarea="user.profil" e-rows="5" e-cols="60">{{ user.experience || 'Mon expérience' }}</p>
        </div>

      </div>

      <div class="row profil">
        <div class="col-xs-12 col-sm-4">
          <h3 class="title-section">Compétences techniques</h3>
        </div>
        <div class="col-xs-12 col-sm-8">         

          <div class="blocEdition" ng-repeat="skill in user.skills">
            
              <h3 editable-text="skill.name" onbeforesave="checkName($data, skill.id)" class="title-item">{{ skill.name || 'Nom compétence' }}</h3>
              <hr>
              <p editable-textarea="skill.desc" e-rows="5" e-cols="60">{{ skill.desc || 'Description'}}</p>
              <button class="btn btn-danger" ng-click="removeSkill()">Supprimer cette compétence</button>

          </div>

          <button class="btn btn-primary" ng-click="addSkill()">Ajouter une compétence</button>
        </div>

      </div>


      <div class="row profil">
        <div class="col-xs-12 col-sm-4">
          <h3 class="title-section">Diplomes</h3>
        </div>
        <div class="col-xs-12 col-sm-8">




         <div class="blocEdition" ng-repeat="diplome in user.diplomes">
            
              <h3 editable-text="diplome.name" onbeforesave="checkName($data, diplome.id)" class="title-item">{{ diplome.name || 'Nom diplôme' }}</h3>
              <span editable-text="diplome.year2" class="pull-right">&nbsp;- {{ diplome.year2 || 'Année fin' }}</span>
              <span editable-text="diplome.year1" class="pull-right">{{ diplome.year1 || 'Année début' }}</span>
              <hr>
              <p editable-textarea="diplome.desc" e-rows="5" e-cols="60">{{ diplome.desc || 'Description'}}</p>
              <button class="btn btn-danger" ng-click="removeDiplome()">Supprimer ce diplôme</button>

          </div>

          <button class="btn btn-primary" ng-click="addDiplome()">Ajouter un diplôme</button>

        </div>

      </div>

      <div class="row bar">
        <div class="col-xs-12">
        </div>
      </div>