<div id="header" class="row" ng-controller="EditCtrl">
    <div class="col-sm-2 col-xs-12">

        <div class="image-upload">
          <form action="avatar" method="POST" enctype="multipart/form-data">
            <label for="avatar" class="avatar">
              <img ng-model="user.avatar" src="{{ user.avatar }}" alt="Avatar" class="thumbnail img-responsive">
            </label>

            <input type="file" id="avatar" name="useravatar" class="hide" onchange="angular.element(this).scope().avatarChanged(this.files[0])">
          </form>
        </div>
      
    </div>
    <div class="col-sm-6 col-xs-12">
        <a href="#" editable-text="user.lastName" onbeforesave="updateLastName($data)">
          <h2 class="inline" ng-model="user.lastName">{{ user.lastName || "Nom" }} </h2>
        </a>
        <a href="#" editable-text="user.firstName" onbeforesave="updateFirstname($data)">
          <h2 class="inline">{{ user.firstName || "Prénom" }}</h2>
        </a>
        <div>
          <a href="#" editable-text="user.jobName" onbeforesave="updateJobName($data)">
          <h3>{{ user.jobName || "Intitulé" }}</h3>
        </a>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <address>
        <strong>{{ user.lastName || "Nom" }} </strong><strong>{{ user.firstName || "Prénom" }}</strong><br>
        <a href="#" editable-text="user.adress" onbeforesave="updateAdress($data)">
          {{ user.adress || "Adresse" }}
        </a><br>
        <a href="#" editable-text="user.city" onbeforesave="updateCity($data)">
          {{ user.city || "Ville" }}
        </a>
        <a href="#" editable-text="user.cp" onbeforesave="updateCP($data)">
          {{ user.cp || "CP" }}
        </a><br>
        <i class="fa fa-phone"></i> 
        <a href="#" editable-text="user.phoneNumber" onbeforesave="updatePhoneNumber($data)">
          {{ user.phoneNumber || "Téléphone" }}
        </a><br>
        <i class="fa fa-envelope"></i> 
        <a href="#" editable-text="user.email" onbeforesave="updateEmail($data)">
          {{ user.email || "Adresse mail" }}
        </a>
      </address>

		<a editable-text="user.facebook" href="#" class="social-icon soc-facebook animated fadeInDown animation-delay-3 socialEdit" onbeforesave="updateFacebook($data)"><i class="fa fa-facebook"></i></a>
		<a editable-text="user.twitter"href="#" class="social-icon soc-twitter animated fadeInDown animation-delay-3 socialEdit" onbeforesave="updateTwitter($data)"><i class="fa fa-twitter"></i></a>
		<a editable-text="user.google" href="#" class="social-icon soc-google-plus animated fadeInDown animation-delay-3 socialEdit" onbeforesave="updateGoogle($data)"><i class="fa fa-google-plus"></i></a>
    
	</div>
</div>